#first-box {
    background-color: rgba(255, 0, 0, 0.904);
    margin-top: 10%;
    width: 550px;
    height: 380px;
    
    
}
#second-box {
    background-color: blue;
    
}


  .hover-effect {
    color: #000; /* Color normal del texto */
    transition: color 0.3s ease; /* Transición suave de color durante 0.3 segundos */
  }

  .hover-effect:hover {
    color: #e9de4a; /* Color del texto al pasar el cursor */
  }
